<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>HoneyMoon Inc.</title>
</head>
<body>

    <header>
        <h1>Honetmoon Inc.</h1>
    </header>

    <main>
        <h2>Welcome at HoneyMoon Inc.</h2>
        <p>Your trusty company for innovative solutions! Please login as the admin or check the "about us" page</p>

        <nav>            
            <a href="{{ url_for('login') }}">Dashboard</a>
            <a href="{{ url_for('about') }}">About Us</a>
        </nav>
    </main>

</body>
</html>


